versatore/src/wsdl/lcare-ts.linkverse.com_443/protocolli/GenericDocumentService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><xs:schema xmlns:tns="http://gendoc.lcare.linkverse.com/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://gendoc.lcare.linkverse.com/">

<xs:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="http://www.w3.org/2005/05/xmlmime"/>
<xs:element name="getDocumentStatus" type="tns:getDocumentStatus"/>

<xs:element name="getDocumentStatusResponse" type="tns:getDocumentStatusResponse"/>

<xs:element name="submitDocument" type="tns:submitDocument"/>

<xs:element name="submitDocumentResponse" type="tns:submitDocumentResponse"/>

<xs:complexType name="submitDocument">
<xs:sequence>
<xs:element name="primaryKey" type="xs:string" minOccurs="0"/>
<xs:element name="attributes" type="tns:documentAttribute" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="documentContent" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="documentAttribute">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="value" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitDocumentResponse">
<xs:sequence>
<xs:element name="hash" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDocumentStatus">
<xs:sequence>
<xs:element name="primaryKey" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDocumentStatusResponse">
<xs:sequence>
<xs:element name="documentStatusResponse" type="tns:documentStatus" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="documentStatus">
<xs:sequence>
<xs:element name="documentError" type="tns:documentError" minOccurs="0"/>
<xs:element name="documentStatusCode" type="tns:documentStatusCode" minOccurs="0"/>
<xs:element name="legalDocToken" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="documentError">
<xs:sequence>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="errorDescription" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="documentStatusCode">
<xs:restriction base="xs:string">
<xs:enumeration value="RECEIVED"/>
<xs:enumeration value="ENQUEUED_VERIFY"/>
<xs:enumeration value="VERIFIED"/>
<xs:enumeration value="VERIFICATION_FAILED"/>
<xs:enumeration value="ENQUEUED_SENDING"/>
<xs:enumeration value="SENDING_FAILED"/>
<xs:enumeration value="SUCCESS"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>