firma/src/wsdl/arss-firma-auslbo.avec.emr.it_8443/ArubaSignService/CredentialProxyService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://arubasignservice.arubapec.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://arubasignservice.arubapec.it/">

<xs:element name="ArssReturn" type="tns:arssReturn"/>

<xs:element name="disable" type="tns:disable"/>

<xs:element name="disableResponse" type="tns:disableResponse"/>

<xs:element name="enable" type="tns:enable"/>

<xs:element name="enableResponse" type="tns:enableResponse"/>

<xs:element name="existingCredential" type="tns:existingCredential"/>

<xs:element name="existingCredentialResponse" type="tns:existingCredentialResponse"/>

<xs:element name="removeCredential" type="tns:removeCredential"/>

<xs:element name="removeCredentialResponse" type="tns:removeCredentialResponse"/>

<xs:element name="setCredential" type="tns:setCredential"/>

<xs:element name="setCredentialResponse" type="tns:setCredentialResponse"/>

<xs:element name="status" type="tns:status"/>

<xs:element name="statusResponse" type="tns:statusResponse"/>

<xs:complexType name="disable">
<xs:sequence>
<xs:element name="admin" type="tns:credentialProxyAdmin"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="credentialProxyAdmin">
<xs:sequence>
<xs:element name="adminUser" type="xs:string" minOccurs="0"/>
<xs:element name="adminPwd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="disableResponse">
<xs:sequence>
<xs:element name="return" type="tns:arssReturn" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="arssReturn">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="return_code" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enable">
<xs:sequence>
<xs:element name="admin" type="tns:credentialProxyAdmin"/>
<xs:element name="keystorePwd" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enableResponse">
<xs:sequence>
<xs:element name="return" type="tns:arssReturn" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setCredential">
<xs:sequence>
<xs:element name="admin" type="tns:credentialProxyAdmin"/>
<xs:element name="username" type="xs:string"/>
<xs:element name="domain" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setCredentialResponse">
<xs:sequence>
<xs:element name="return" type="tns:arssReturn" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="status">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="statusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="existingCredential">
<xs:sequence>
<xs:element name="admin" type="tns:credentialProxyAdmin"/>
<xs:element name="username" type="xs:string"/>
<xs:element name="domain" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="existingCredentialResponse">
<xs:sequence>
<xs:element name="return" type="tns:arssReturn" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCredential">
<xs:sequence>
<xs:element name="admin" type="tns:credentialProxyAdmin"/>
<xs:element name="username" type="xs:string"/>
<xs:element name="domain" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCredentialResponse">
<xs:sequence>
<xs:element name="return" type="tns:arssReturn" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>