firma/src/wsdl/arss-firma-auslbo.avec.emr.it_8443/ArubaSignService/CredentialProxyService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://arubasignservice.arubapec.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://arubasignservice.arubapec.it/" name="CredentialProxyServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://arubasignservice.arubapec.it/" schemaLocation="https://arss-firma-auslbo.avec.emr.it:8443/ArubaSignService/CredentialProxyService?xsd=1"/>
</xsd:schema>
</types>
<message name="existingCredential">
<part name="parameters" element="tns:existingCredential"/>
</message>
<message name="existingCredentialResponse">
<part name="parameters" element="tns:existingCredentialResponse"/>
</message>
<message name="setCredential">
<part name="parameters" element="tns:setCredential"/>
</message>
<message name="setCredentialResponse">
<part name="parameters" element="tns:setCredentialResponse"/>
</message>
<message name="removeCredential">
<part name="parameters" element="tns:removeCredential"/>
</message>
<message name="removeCredentialResponse">
<part name="parameters" element="tns:removeCredentialResponse"/>
</message>
<message name="status">
<part name="parameters" element="tns:status"/>
</message>
<message name="statusResponse">
<part name="parameters" element="tns:statusResponse"/>
</message>
<message name="disable">
<part name="parameters" element="tns:disable"/>
</message>
<message name="disableResponse">
<part name="parameters" element="tns:disableResponse"/>
</message>
<message name="enable">
<part name="parameters" element="tns:enable"/>
</message>
<message name="enableResponse">
<part name="parameters" element="tns:enableResponse"/>
</message>
<portType name="CredentialProxyService">
<operation name="existingCredential">
<input wsam:Action="http://arubasignservice.arubapec.it/CredentialProxyService/existingCredentialRequest" message="tns:existingCredential"/>
<output wsam:Action="http://arubasignservice.arubapec.it/CredentialProxyService/existingCredentialResponse" message="tns:existingCredentialResponse"/>
</operation>
<operation name="setCredential">
<input wsam:Action="http://arubasignservice.arubapec.it/CredentialProxyService/setCredentialRequest" message="tns:setCredential"/>
<output wsam:Action="http://arubasignservice.arubapec.it/CredentialProxyService/setCredentialResponse" message="tns:setCredentialResponse"/>
</operation>
<operation name="removeCredential">
<input wsam:Action="http://arubasignservice.arubapec.it/CredentialProxyService/removeCredentialRequest" message="tns:removeCredential"/>
<output wsam:Action="http://arubasignservice.arubapec.it/CredentialProxyService/removeCredentialResponse" message="tns:removeCredentialResponse"/>
</operation>
<operation name="status">
<input wsam:Action="http://arubasignservice.arubapec.it/CredentialProxyService/statusRequest" message="tns:status"/>
<output wsam:Action="http://arubasignservice.arubapec.it/CredentialProxyService/statusResponse" message="tns:statusResponse"/>
</operation>
<operation name="disable">
<input wsam:Action="http://arubasignservice.arubapec.it/CredentialProxyService/disableRequest" message="tns:disable"/>
<output wsam:Action="http://arubasignservice.arubapec.it/CredentialProxyService/disableResponse" message="tns:disableResponse"/>
</operation>
<operation name="enable">
<input wsam:Action="http://arubasignservice.arubapec.it/CredentialProxyService/enableRequest" message="tns:enable"/>
<output wsam:Action="http://arubasignservice.arubapec.it/CredentialProxyService/enableResponse" message="tns:enableResponse"/>
</operation>
</portType>
<binding name="CredentialProxyServicePortBinding" type="tns:CredentialProxyService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="existingCredential">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setCredential">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCredential">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="status">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="disable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CredentialProxyServiceService">
<port name="CredentialProxyServicePort" binding="tns:CredentialProxyServicePortBinding">
<soap:address location="https://arss-firma-auslbo.avec.emr.it:8443/ArubaSignService/CredentialProxyService"/>
</port>
</service>
</definitions>